<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new bill</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-dark">
    <form>
      <div class="mb-3">
        <label for="category-input" class="col-xs-3 col-sm-2 col-form-label">Category:</label>
        <div class="input-group">
          <input
            id="category-input"
            type="text"
            class="form-control"
            name="category"
            [(ngModel)]="billCreationDto.category"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="description-input" class="col-xs-3 col-sm-2 col-form-label">Description:</label>
        <div class="input-group">
          <input
            id="description-input"
            type="text"
            class="form-control"
            name="description"
            [(ngModel)]="billCreationDto.description"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="amount-input" class="col-xs-3 col-sm-2 col-form-label">Amount:</label>
        <div class="input-group">
          <input
            id="amount-input"
            type="number" min="0.00" max="999999.99" step="0.01"
            class="form-control"
            name="amount"
            [(ngModel)]="billCreationDto.amount"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="date-input" class="col-xs-3 col-sm-2 col-form-label">Date:</label>
        <div class="input-group">
          <input
            id="date-input"
            type="date"
            class="form-control"
            name="date"
            [(ngModel)]="billCreationDto.date"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-secondary" (click)="open(content)">Add new bill</button>
