<button class="btn btn-lg btn-outline-secondary m-2" (click)="open(content)">Category management</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Category management</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-dark">
    <form>

      <!--
            add new category
      -->
      <h2 class="col-form-label">Add new category:</h2>
      <div class="mb-3">
        <label for="category-name-input" class="col-form-label">Category name</label>
        <div class="input-group">
          <input
            id="category-name-input"
            type="text"
            class="form-control"
            name="category"
            [(ngModel)]="categoryToCreate.name"
          />
        </div>
        <label for="category-limit-input" class="col-form-label">Category limit</label>
        <div class="input-group">
          <input
            id="category-limit-input"
            type="number" min="0.00" max="999999.99" step="0.01"
            class="form-control"
            name="category"
            [(ngModel)]="categoryToCreate.limit"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark m-2" (click)="modal.dismiss('add category')">Add new category
    </button>
  </div>
</ng-template>
<ng-template #noData>No Category Available</ng-template>
