<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Category management</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-dark">
    <form>
      <div class="mb-3">
        <h2 class="col-form-label">Remove category:</h2>
        <div *ngIf="categories$ | async as categories else noData" class="input-group">
          <select [(ngModel)]="categoryToRemove" name="categoryRemoval" class="form-select"
                  aria-label="Default select example">
            <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
          </select>
        </div>
        <div class="col text-end">
          <button type="button" class="btn btn-outline-dark m-2" (click)="modal.close('remove category')">Remove
            category
          </button>
        </div>
      </div>
      <h2 class="col-form-label">Add new category:</h2>
      <div class="mb-3">
        <label for="category-name-input" class="col-form-label">Category name</label>
        <div class="input-group">
          <input
            id="category-name-input"
            type="text"
            class="form-control"
            name="category"
            [(ngModel)]="category.name"
          />
        </div>
        <label for="category-limit-input" class="col-form-label">Category limit</label>
        <div class="input-group">
          <input
            id="category-limit-input"
            type="number" min="0.00" max="999999.99" step="0.01"
            class="form-control"
            name="category"
            [(ngModel)]="category.limit"
          />
        </div>
        <div class="col text-end">
          <button type="button" class="btn btn-outline-dark m-2" (click)="modal.close('add category')">Add new
            category
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark m-2" (click)="modal.dismiss('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-secondary m-2" (click)="open(content)">Category management</button>

<ng-template #noData>No Category Available</ng-template>
