<div class="container p-1">
  <p></p>
  <div *ngIf="user$ | async as user else noLoggedIn">
    <h2 class="text-center">Welcome {{user.preferredUsername}}!</h2>
    <div class="col text-center">
      <br><br>
      <app-bill-creation></app-bill-creation>
      <app-category-creation></app-category-creation>
    </div>
  </div>
  <ng-template #noLoggedIn>
    <div class="text-center">
      <h2>Welcome to Simple Bills!</h2><br><br>
      <h4>Please log in!</h4>
    </div>
  </ng-template>
</div>
