<div class="container p-1 text-center">
  <button class="btn btn-lg btn-outline-secondary me-2" (click)="openBillCreationWindow(createBill)">Add bill</button>
  <br><br><br>
  <form>
    <div class="mb-3 row">
      <label for="table-date-from" class="col-xs-3 col-sm-2 col-form-label">Date from:</label>
      <div class="col-xs-3 col-4">
        <input
          id="table-date-from"
          type="date"
          class="form-control"
          name="dateFrom"
          [(ngModel)]="billSearchService.dateFrom"
        />
      </div>
      <label for="table-date-to" class="col-xs-3 col-sm-2 col-form-label">Date to:</label>
      <div class="col-xs-3 col-4">
        <input
          id="table-date-to"
          type="date"
          class="form-control"
          name="dateTo"
          [(ngModel)]="billSearchService.dateTo"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="table-complete-search" class="col-xs-3 col-sm-2 col-form-label">Full text search:</label>
      <div class="col-xs-3 col-4">
        <input
          id="table-complete-search"
          type="text"
          class="form-control"
          name="searchTerm"
          [(ngModel)]="billSearchService.searchTerm"
        />
      </div>
      <span class="col col-form-label" *ngIf="billSearchService.loading$ | async">Loading...</span>
    </div>
  </form>
  <div *ngIf="pageableBills$ | async as pageableBills else noData">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" sortable="billNumber" (sort)="onSort($event)">#</th>
        <th scope="col" sortable="date" (sort)="onSort($event)">Date</th>
        <th scope="col" sortable="amount" (sort)="onSort($event)">Amount</th>
        <th scope="col" sortable="description" (sort)="onSort($event)">Description</th>
        <th scope="col" sortable="category" (sort)="onSort($event)">Category</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bill of pageableBills.bills;">
        <th scope="row">
          <ngb-highlight [result]="bill.billNumber" [term]="billSearchService.searchTerm"></ngb-highlight>
        </th>
        <td>
          <ngb-highlight [result]="bill.date | date" [term]="billSearchService.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="bill.amount | currency" [term]="billSearchService.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="bill.description" [term]="billSearchService.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="bill.category" [term]="billSearchService.searchTerm"></ngb-highlight>
        </td>
        <td>
          <button type="button" class="btn-close" aria-label="Close"
                  (click)="openDeletionConfirmationWindow(bill.billNumber, deletionConfirmationWindow)"></button>
        </td>
      </tr>
      <tr class="bg-info fw-bold">
        <th scope="row"></th>
        <td>Total page amount:</td>
        <td>{{ pageableBills.pageTotalAmount | currency }} </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="pageableBills.totalCount"
        [(page)]="billSearchService.page"
        [pageSize]="billSearchService.pageSize"
        size="sm">
      </ngb-pagination>
      <select
        *ngIf="pageableBills.totalCount > 5"
        class="form-select"
        style="width: auto; height: min-content" name="pageSize"
        [(ngModel)]="billSearchService.pageSize">
        <option [ngValue]="5">5 of {{pageableBills.totalCount}}</option>
        <option *ngIf="pageableBills.totalCount > 10" [ngValue]="10">10 of {{pageableBills.totalCount}}</option>
        <option *ngIf="pageableBills.totalCount > 20" [ngValue]="20">20 of {{pageableBills.totalCount}}</option>
        <option *ngIf="pageableBills.totalCount < 50" [ngValue]="pageableBills.totalCount">{{pageableBills.totalCount}}
          of {{pageableBills.totalCount}}</option>
      </select>
    </div>
  </div>
</div>

<ng-template #noData>No Data Available</ng-template>

<ng-template #deletionConfirmationWindow let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Bill deletion</h4>
    <button type="button" class="btn-close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p><strong class="text-danger">Are you sure you want to delete selected bill?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
  </div>
</ng-template>

<ng-template #createBill let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new bill</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-dark">
    <form>
      <label for="category-input" class="col-xs-3 col-sm-2 col-form-label">Category</label>
      <div *ngIf="categories$ | async as categories else noData" class="input-group">
        <select [(ngModel)]="billCreationDto.category" name="categoryRemoval" class="form-select"
                aria-label="Default select example" id="category-input">
          <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="description-input" class="col-xs-3 col-sm-2 col-form-label">Description</label>
        <div class="input-group">
          <input
            id="description-input"
            type="text"
            class="form-control"
            name="description"
            [(ngModel)]="billCreationDto.description"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="amount-input" class="col-xs-3 col-sm-2 col-form-label">Amount</label>
        <div class="input-group">
          <input
            id="amount-input"
            type="number" min="0.00" max="999999.99" step="0.01"
            class="form-control"
            name="amount"
            [(ngModel)]="billCreationDto.amount"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="date-input" class="col-xs-3 col-sm-2 col-form-label">Date</label>
        <div class="input-group">
          <input
            id="date-input"
            type="date"
            class="form-control"
            name="date"
            [(ngModel)]="billCreationDto.date"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #noData>No Category Available</ng-template>

