<br>
<form>
  <div class="mb-3 row">
    <label for="table-complete-search" class="col-xs-3 col-sm-2 col-form-label">Date from:</label>
    <div class="col-xs-3 col-4">
      <input
        id="table-dte-from"
        type="date"
        class="form-control"
        name="dateFrom"
        [(ngModel)]="billService.dateFrom"
      />
    </div>
    <label for="table-complete-search" class="col-xs-3 col-sm-2 col-form-label">Date to:</label>
    <div class="col-xs-3 col-4">
      <input
        id="table-date-to"
        type="date"
        class="form-control"
        name="dateTo"
        [(ngModel)]="billService.dateTo"
      />
    </div>
  </div>
  <div class="mb-3 row">
    <label for="table-complete-search" class="col-xs-3 col-sm-2 col-form-label">Full text search:</label>
    <div class="col-xs-3 col-4">
      <input
        id="table-complete-search"
        type="text"
        class="form-control"
        name="searchTerm"
        [(ngModel)]="billService.searchTerm"
      />
    </div>
    <span class="col col-form-label" *ngIf="billService.loading$ | async">Loading...</span>
  </div>
</form>
<div *ngIf="pageableBills$ | async as pageableBills else noData">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="date" (sort)="onSort($event)">Date</th>
      <th scope="col" sortable="amount" (sort)="onSort($event)">Amount</th>
      <th scope="col" sortable="description" (sort)="onSort($event)">Description</th>
      <th scope="col" sortable="category" (sort)="onSort($event)">Category</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bill of pageableBills.bills;">
      <th scope="row">
        <ngb-highlight [result]="bill.billNumber" [term]="billService.searchTerm"></ngb-highlight>
      </th>
      <td>
        <ngb-highlight [result]="bill.date | date" [term]="billService.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="bill.amount | number" [term]="billService.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="bill.description" [term]="billService.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="bill.category" [term]="billService.searchTerm"></ngb-highlight>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="pageableBills.totalCount"
      [(page)]="billService.page"
      [pageSize]="billService.pageSize"
      size="sm">
    </ngb-pagination>
    <select
      *ngIf="pageableBills.totalCount > 5"
      class="form-select"
      style="width: auto; height: min-content" name="pageSize"
      [(ngModel)]="billService.pageSize">
      <option [ngValue]="5">5 of {{pageableBills.totalCount}}</option>
      <option *ngIf="pageableBills.totalCount > 10" [ngValue]="10">10 of {{pageableBills.totalCount}}</option>
      <option *ngIf="pageableBills.totalCount > 20" [ngValue]="20">20 of {{pageableBills.totalCount}}</option>
      <option *ngIf="pageableBills.totalCount < 50" [ngValue]="pageableBills.totalCount">{{pageableBills.totalCount}} of {{pageableBills.totalCount}}</option>

    </select>
  </div>
</div>
<ng-template #noData>No Data Available</ng-template>
